<!-- Modal Structure -->
<div id="banggia" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <table>
            <thead>
                <tr>
                    
                    <th>Xe</th>
                    <th>Giá</th>
                    <th>Chỗ ngồi</th>
                </tr>
            </thead>

            <tbody class="tbodycar">

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>