<div class="banner">
    <a href="http://banggiaxetoyota.net" title="Toyota Mỹ Đình">
            <img src="http://banggiaxetoyota.net/wp-content/uploads/2017/11/toyota-my-dinh-trong.jpg" alt="Toyota Mỹ Đình">
    </a>
</div>