<h2 class="white-text">Thông tin liên hệ</h2>
<hr>

<div class="row">
    <div class="col l12">
        <div class="card grey darken-1">
            <div class="container card-content white-text">
                <ul>
                    <li class="contact_detail">

                        <i class="material-icons contact-icons">home</i>542 Trường Chinh, Pleiku, Gia Lai
                    </li>
                    <li class="contact_detail">
                        <a class="grey-text text-lighten-3" href="tel:0973807479">
                            <i class="material-icons contact-icons">phone_iphone</i>0973.80.74.79</a>
                    </li>
                    <li class="contact_detail">
                        <i class="material-icons contact-icons">email</i>gialaitoyota@gmail.com
                    </li>
                </ul>
            </div>
            <div class="card-action">

                <div class="row ">
                    <blockquote>Phản hồi trong 24h</blockquote>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="ho_ten" type="text" class="validate" placeholder="Thành">
                            <label for="ho_ten" class="white-text">Tên</label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="dien_thoai" type="text" class="validate" placeholder="0973.80.74.79">
                            <label for="dien_thoai" class="white-text">Điện thoại</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="noi_dung" type="text" class="validate" placeholder="Hãy gọi lại cho tôi">
                            <label for="noi_dung" class="white-text">Tin nhắn</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <a class="waves-effect waves-light btn" id="send">
                            <i class="material-icons left">send</i>Gửi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>