<h3 class="white-text">Contact</h3>
<hr>
<ul>
    <li>
        <a class="grey-text text-lighten-3" href="#!">
            <i class="material-icons">home</i>542 Trường Chinh, Pleiku, Gia Lai</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="#!">
            <i class="material-icons">phone_iphone</i>0907 85 77 87 2</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="#!">
            <i class="material-icons">email</i>kd.toyotagialai@gmail.com</a>
    </li>
</ul>
<div class="col s12 m6 l6">
    <div class="row">
        <div class="input-field col s12">
            <input id="ho_ten" type="text" class="validate">
            <label for="ho_ten" class="white-text">Ho ten</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="dien_thoai" type="text" class="validate">
            <label for="dien_thoai" class="white-text">Dien thoai</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="noi_dung" type="text" class="validate">
            <label for="noi_dung" class="white-text">Noi Dung</label>
        </div>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" id="send">
            <i class="material-icons left">send</i>send</a>
    </div>
</div>