<div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper grey lighten-4">
      <a href="/" class="brand-logo black-text">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/" class="black-text">HOME</a>
        </li>
        <li>
          <a href="/addxe" class="black-text">ADD XE</a>
        </li>
        <li>
          <a href="gioi-thieu" class="black-text">GIOI THIEU</a>
        </li>
        <li>
          <a href="ho-tro-tra-gop" class="black-text">HO TRO TRA GOP</a>
        </li>
        <li>
          <a href="lien-he" class="black-text">LIÊN HỆ</a>
        </li>
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="sass.html">HOME</a>
    </li>
    <li>
      <a href="badges.html">Components</a>
    </li>
    <li>
      <a href="collapsible.html">Javascript</a>
    </li>
    <li>
      <a href="mobile.html">Mobile</a>
    </li>
  </ul>

</div>
<script>

  // Or with jQuery

  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
</script>