<style>
    a {
        font-size: 90%
    }
    .dong_xe_name{
        font-weight: bold;
        color: grey
    }
</style>
<div class="card-panel">
    <h3>
        <i class="material-icons">filter_list</i>CÁC DÒNG XE
    </h3>

    <hr>
    <table class="highlight">
        <thead>
            <tr>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0;i<arrDongXe.length;i++){ %>
                <tr>
                    <td>
                        <a class="dong_xe_name" href="./dong-xe/<%-arrDongXe[i].dong_xe_url %>">
                            <i class="material-icons">keyboard_arrow_right</i>
                            <%- arrDongXe[i].dong_xe_name %>
                                (
                                <%- arrDongXe[i].cars.length %> )
                        </a>
                    </td>
                </tr>
                <% } %>

        </tbody>
    </table>
</div>