<style>
        .card-title{
            font-weight: 300;
            color: black;
            letter-spacing: 0.1px;
            padding: 5px;
        }
        .price{
            padding: 10px;
        }
    </style>
<div class="col s12 l6 m6">
    <a href="../xe/<%- car.url %>">
        <div class="car card z-depth-2 center-align hoverable">
            <div class="card-image grey lighten-2">
                <img src="../images<%- car.thumbnail %>">
            </div>
            <span class="card-content grey-text price">
                <%- car.price %>
            </span>
            <div class="divider"></div>
            <span class="card-title">
                <%- car.name %>
            </span>
        </div>
    </a>
</div>
