<div class="col s12 l6 m6">
    <a href="../xe/<%- car.url %>">
        <div class="card z-depth-2 center-align">
            <div class="card-image grey lighten-2">
                <img src="../images<%- car.thumbnail %>">
            </div>
            <div class="card-content red-text price">
                <%- car.price %>
                
            </div>
            <div class="card-action">
                <span class="card-title">
                    <%- car.name %>
                </span>
            </div>
        </div>
    </a>
</div>