<footer class="page-footer grey lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <%- include('components/profile');%>
      </div>
      <div class="col l6 s12">
        <%- include('components/lienhe');%>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container hide-on-small-only">
      © 2018 Copyright Đại Lý Chính Hãng Toyota Gia Lai
      <a class="grey-text text-lighten-4 right" href="http://www.toyotagialaii.com/">Toyota Gia Lai</a>
    </div>
  </div>
</footer>

