<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
</head>
<body>
    
    <% include ./components/banner %>
    <% include ./components/navbar %>
    <% include ./container %>
    <% include ./footer %>
</body>
</html>