<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
</head>
<body>
    
    <% include ./components/banner %>
    <% include ./components/navbar %>
    <% include ./container %>
    <% include ./footer %>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="/js/materialize.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Sweet Alert -->
    <script src="/js/sweetalert.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/chitiet.js"></script>
</body>
</html>