*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
h3{
    font-size: 30px;
}
.telhref{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 150%
}
.material-icons{
    font-size: 100%
}
.price{
    font-weight: bold
}