*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7
}
h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 1.7
}
h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.7
}
h4{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.7
}
h5{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.7
}
h6{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.7
}

.telhref{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding:0 10px;
    font-size: 150%
}
.material-icons{
    font-size: 100%;
}
.price{
    font-weight: bold
}
.contact_detail {
    padding: 10px;
}

.contact-icons {
    padding: 0 10px;
    font-size: 150%;
    position: absolute;
    left: 8px;

}