<blockquote>
    <h2>Giới thiệu Toyota Gia Lai</h2>
</blockquote>
<hr>
<div class="card blue lighten-5">
    <div class="card-content"> 

        <p>Toyota Gia Lai là Tổng đại lý phân phối độc quyền các dòng xe thương hiệu Toyota tại các tỉnh Gia Lai, Kon Tum,...

        </p>
       
        <div class="divider"></div>
        <div class="section">
            <h4>Tầm nhìn</h4>
            <ul>
                <li>
                    - Xây dựng Toyota Gia Lai trở thành một trong những Đại lý phân phối dòng Toyota uy tín, chất lượng, giá tốt, đem đến sự
                    thỏa mãn và hài lòng cao nhất cho khách hàng.
                </li>
                <li>
                    - Xây dựng Toyota Gia Lai trở thành một nơi có môi trường làm việc năng động, chuyên nghiệp, là nơi mọi người cùng đoàn kết,
                    cùng gắn bó xây dựng doanh nghiệp phát triển thành công và bền vững.
                </li>
            </ul>
        </div>
        <div class="divider"></div>

        <div class="section">


            <h4>Sứ mệnh </h4>
            <ul>
                <li>
                    - Đối với khách hàng: Với phương châm "Khách hàng là ngươi trả lương cho Toyota Gia Lai", Toyota Gia Lai luôn luôn tìm hiểu
                    nhu cầu khách hàng, cam kết đem đến cho khách hàng những sản phẩm chất lượng, giá tốt, dịch vụ bán hàng
                    chuyên nghiệp, chế độ hãu mãi sau bán hàng cao.
                </li>
                <li>
                    - Đối với nhân viên: Tạo lập môi trường làm việc năng động, chuyên nghiệp, nơi các cá nhân cùng gắn bó, cùng đoàn kết, cùng
                    xây dựng đại gia đình Toyota Gia Lai phát triển thành công và bền vững.
                </li>
                <li>
                    - Đối với xã hội: Tích cực tham gia các hoạt động cộng đồng, an sinh xã hội, góp phần xây dựng một xã hội ngày càng tốt đẹp
                    hơn.
                </li>
            </ul>

        </div>
        <div class="divider"></div>
        <div class="section">
            <h4>Triết lý kinh doanh</h4>
            <ul>
                <li>
                    - Toyota Gia Lai đặt hiệu quả và lợi ích của khách hàng là trên hết. Coi hiệu quả của khách hàng là chìa khóa thành công,
                    bởi hiệu quả của khách hàng tạo nên uy tín thương hiệu và quyết định sự thành công thương hiệu Toyota
                    Gia Lai.
                </li>
                <li>
                    - Toyota Gia Lai luôn tôn trọng, lắng nghe & hiểu rõ nhu cầu, mong muốn của khách hàng.
                </li>
                <li>
                    - Toyota Gia Lai cam kết mang đến cho khách hàng các sản phẩm chất lượng, giá tốt, dịch vụ bán hàng tốt nhất, hậu mãi sau
                    bán hàng cao.
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="card-action">
        <p>Cảm ơn Quý Khách hàng đã tín nhiệm và sử dụng dịch vụ của chúng tôi</p>
        <blockquote>
            Phụ trách kinh doanh - Nguyễn Chí Thành
        </blockquote>
    </div>
</div>