<blockquote>
    <h1>Tư vấn tài chính Toyota Phú Mỹ Hưng</h1>
</blockquote>
<div class="card blue-grey darken-1" style="margin-bottom:20px;">
    <div class="card-content white-text">

        <div class="article">
            
                        <h2>A. HƯỚNG DẪN THỦ TỤC MUA XE TRẢ GÓP TẠI TOYOTA GIA LAI</h2>
                        <h4>
                            CÁ NHÂN MUA XE TRẢ GÓP
                        </h4>
                        <p>- Sao y hộ khẩu, CMND.</p>
                        <p>- Giấy chứng nhận độc thân hoặc giấy hôn thú.</p>
                        <p>- Chứng minh thu nhập bằng: hợp đồng lao động, bảng lương, sổ tiết kiệm, tài khoản cá nhân.</p>
                        <p>- Cá nhân sở hữu tài sản có giá trị: nhà cửa, đất đai, các loại ô tô , máy móc, dây chuyền nhà máy,
                            nhà xưởng, ...
                        </p>
                        <p>- Hợp đồng cho thuê xe, thuê nhà, cho thuê xưởng, giấy góp vốn, cổ phần, cổ phiếu, trái phiếu.</p>
                        <p>- Nếu cá nhân có công ty riêng mà thu nhập chủ yếu từ công ty thì thêm: báo cáo thuế, báo cáo tài
                            chính, bảng lương, bảng chia lợi nhuận từ công ty. Giấy phép đăng ký kinh doanh.</p>
                        <p>- Hoá đơn chi phí cá nhân các tháng gần nhất: điện thoại, chi phí giao dịch làm ăn.</p>
                        <p>- Trong trường hợp cá nhân mua không đủ điều kiện&nbsp;
                            <strong>mua xe trả góp</strong>, có thể nhờ người thân có khả năng&nbsp; thu nhập tốt làm giấy bảo lãnh
                            cho Ngân hàng thẩm định.</p>
                        <p>- Đơn xin vay vốn Ngân hàng và phương án trả lãi ( theo mẫu của Ngân hàng ).</p>
                        <h4>
                            CÔNG TY HOẶC DOANH NGHIỆP MUA XE TRẢ GÓP
                        </h4>
                        <p>- Giấy phép đăng ký kinh doanh.</p>
                        <p>- Giấy bổ nhiệm Giám đốc, bổ nhiệm kế toán trưởng .</p>
                        <p>- Báo cáo thuế 01 năm gần nhất.</p>
                        <p>- Báo cáo hoá đơn VAT 01 năm gần nhất.</p>
                        <p>- Báo cáo tài chính 01 năm gần nhất.</p>
                        <p>- Điều lệ công ty.</p>
                        <p>- Biên bản họp của hội đồng quản trị.</p>
                        <p>- Hợp đồng kinh tế đầu ra, đầu vào.</p>
                        <p>- Giấy sở hữu cơ sở vật chất: nhà máy, dây chuyền, máy móc, thiết bị, nhà xưởng, ôtô khác</p>
                        <p>- Đơn xin vay vốn ngân hàng và phương án trả lãi ( theo mẫu của Ngân hàng ). &nbsp; &nbsp; &nbsp;
                            &nbsp;&nbsp;
                        </p>
                        <h2>B. NGÂN HÀNG HOẶC CÔNG TY CHO THUÊ TÀI CHÍNH SẼ TÀI TRỢ MUA XE TRẢ GÓP</h2>
                        <p>- Mức tài trợ&nbsp;
                            <strong>mua xe trả góp</strong>&nbsp;thông thường 70% trên tài sản thế chấp.</p>
                        <p>- Thời gian tối đa 4 hoặc 5 năm.</p>
                        <p>- Lãi suất thông thường của NGTMCP.</p>
                        <p>- Thời gian thẩm định hồ sơ sau khi nhận đầy đủ 07 ngày.</p>
                        <p>- Chi phí : phí thủ tục hành chánh .</p>
                        <p>- Thủ tục hành chánh tại ngân hàng gồm: phí đảm bảo tài sản, phí mở tài khoản, phí công chứng sao
                            y, cà vẹt xe, mua bảo hiểm thân xe 1,5% trị giá xe trong thời gian vay.</p>
                        <h2>C.&nbsp;QUY TRÌNH MUA XE TRẢ GÓP</h2>
                        <p>- Khách hàng chuẩn bị đầy đủ hồ sơ&nbsp;
                            <strong>mua xe trả góp</strong>&nbsp;theo hướng dẫn của nhân viên tín dụng.</p>
                        <p>- Nhân viên thẩm định đến tận nhà để thẩm định và lấy hồ sơ.</p>
                        <p>- Sau khi có giấy tài trợ tín dụng và hồ sơ xe.</p>
                        <p>- Khách hàng phải tiến hành đóng tiền xe và chi phí làm thủ tục đăng ký xe.</p>
                        <p>- Khi có biển số xe và có giấy hẹn, khách hàng lên ngân hàng ký hợp đồng tín dụng, đóng phí hành
                            chính và giấy nhận nợ của ngân hàng.</p>
                        <p>- Khi tiền chuyển khoản của ngân hàng vào tài khoản của Công Ty Toyota Gia Lai, thì khách hàng
                            mang theo CMND và giấy giới thiệu lên nhận xe, ký biên bản bàn giao xe với giấy tờ xe hợp lệ
                            theo pháp luật.&nbsp;
                        </p>
                        <p>- Khi có giấy đăng ký xe, Ngân hàng sẽ đi đăng ký và sao y cho khách hàng một bản để sử dụng.</p>
                        <p>- Trường hợp khách mua qua Công ty cho thuê tài chính thì khách hàng đóng tiền xe tại - - Công ty
                            cho thuê tài chính. Chi phí đăng ký xe khách hàng phải chịu, Biên bản bàn giao xe 03 bên cùng
                            ký để công ty cho thuê tài chính giải ngân cho hãng xe.</p>
                        <p>- Trường hợp khách hàng ở tỉnh&nbsp;
                            <strong>mua xe trả góp</strong>&nbsp;thì chi phí Dịch vụ đi đăng ký xe do khách hàng chịu, tùy theo tỉnh
                            xa hay gần mà thỏa thuận.</p>
                    </div>
                    <div>&nbsp;</div>
                    <div>Những ngân hàng hiện tại chúng tôi có liên kết để hỗ trợ khách hàng&nbsp;
                        <strong>mua xe trả góp</strong>&nbsp;như: HSBC,Techcombank, Eximbank, ACB, HDBank, Sacombank, ...</div>
                    <div>&nbsp;</div>
                    <div>- Mức tài trợ&nbsp;
                        <strong>mua xe trả góp</strong>&nbsp;thông thường là 70% trên tài sản thế chấp.</div>
                    <div>- Thời gian tối đa 4-5 năm.</div>
                    <div>- Lãi suất thông thường: 1,06% đến 1,3%/tháng (tùy từng thời điểm khách hàng vay).</div>
                    <div>- Thời gian thẩm định hồ sơ sau khi nhận đầy đủ 24giờ&nbsp;(Tùy theo năng lực tài chính của khách hàng).</div>
                    <div>- Thủ tục hành chánh tại ngân hàng gồm: phí mở tài khoản, phí công chứng sao y, cà vẹt xe, mua bảo hiểm
                        thân xe với mức phí tối thiểu 1,6%/năm trên giá trị xe trong thời gian vay.</div>
        </div>
    </div>

</div>