<div class="container">
    <div class="row">
        <div class="col s12 m3 l4 hide-on-med-and-down">
            <%- include('../components/sidebar');%>
        </div>
        <div class="col s12 m9 l8">
            <% for(var i=0;i<arrDongXe.length;i++){ %>
                <div class="section card-panel z-depth-1">
                    <a href="./dong-xe/<%- arrDongXe[i].dong_xe_url %>">

                        <h3>
                                <i class="material-icons">subject</i>
                            <%- arrDongXe[i].dong_xe_name %>
                        </h3>
                        <hr>
                    </a>

                    <div class="row">
                        <% for(var y=0;y<arrDongXe[i].cars.length;y++){  %>
                            <%- include('../components/xe',{car:arrDongXe[i].cars[y]});%>

                                <% } %>

                    </div>
                </div>
                <div class="divider"></div>

                <%} %>
        </div>
    </div>
</div>
<script src="../js/formatMoney.js"></script>

                          